

body{
    background-color: #121212;
}

.Nav_Anfahrt{
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;
    font-size: 80px;
}

.maps_container{
    display: flex;
    justify-content: center;
}

.google_maps{
    max-width: 90%;
    width: 80%;
    height: 500px;
}

.maps_text{
    background-color: #434343;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    text-align: inherit;
    width: 20%;
    max-width: 90%;
    color: white;
}
   

